<div class='medium-wrapper'>
  <div class='col-md-12'>
  <h1 class='text-center'><a href='/users/<%= find_user.id %>'><%= find_user.name %>'s</a> Profile Page</h1>
  <% if session[:user_id] == logged_user.id %>
    <div class='row'>
    </div>
    <div class='divtop'>
    <%= gravitar(find_user.email)%>
    </div>
    <% if find_user == logged_user %>
      <div class='smalldivtop'>
        <form action='/users/<%= session[:user_id] %>/edit' method='put'>
          <button type="submit" class="btn btn-primary btn-xs">Edit Profile</button>
        </form>
      </div>
    <% end %>
    <div class='divtop'>
      <span class="glyphicon glyphicon-user"></span>
       <a href='/users/<%= find_user.id %>'><%= find_user.name %></a>
    </div>
      <span class="glyphicon glyphicon-envelope"></span>
       <a href='mailto:<%= find_user.email %>'><%= find_user.email %></a>
    <ul class="list-group">
      <h3><a href='/users/<%= find_user.id %>'><%= find_user.name %>'s</a> Groups</h3>
        <% find_user.groups.each do |group| %>
      <li class="list-group-item"><a href='/group/<%= group.id %>'><%= group.name %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
</div>
