<div class='container'>
  <div class='col-md-3'>
  </div>
  <div class='col-md-6'>
  <h1 class='text-center'><%= logged_user.name %>'s Profile Page</h1>
  <% if session[:user_id] == logged_user.id %>
    <div class='row'>
    </div>
    <div class='divtop'>
    <%= gravitar(logged_user.email)%>
    </div>
    <div class='smalldivtop'>
        <form action='/users/<%= session[:user_id] %>/edit' method='put'>
        <button type="submit" class="btn btn-primary btn-xs">Edit Profile</button>
        </form>
      </div>
    <div class='divtop'>
      <span class="glyphicon glyphicon-user"></span>
       <%= logged_user.name %>
    </div>
      <span class="glyphicon glyphicon-envelope"></span>
       <%= logged_user.email %>
    <ul class="list-group">
      <h3><%= logged_user.name %>'s Groups</h3>
        <% logged_user.groups.each do |group| %>
      <li class="list-group-item"><%= group.name %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
  <div class='col-md-3'>
  </div>
</div>
