<link rel="stylesheet" href="/css/restaurant.css">
<div class="container">
  <form action="/events/select_restaurants/<%= event.id %>?city=<%=local_area[:city]%>&state=<%=local_area[:state]%>&zip_code=<%=local_area[:zip_code]%>" method="post">
  <% local_restaurants.each do |restaurant| %>
    <div class="col-sm-1 thumb">
      <input type="checkbox" class="chk" id="<%= restaurant.id %>" name="yelp_phone[<%=restaurant.name%>]" value="<%= restaurant.phone if restaurant.respond_to?(:phone) %>" />
      <label for="<%= restaurant.id %>"><img class="img" src="<%= restaurant.image_url if restaurant.respond_to?(:image_url)%>"/></label>
      <p><%= restaurant.name %></p>
    </div>
    <% end %>
    <div class="submit">
      <input class="submit" type="submit" value="Submit">
    </div>
  </form>
</div>


<script type="text/javascript">
  var limit = 3;
  $('input.chk').on('change', function(evt) {
    if($(this).siblings(':checked').length > limit) {
      this.checked = false;
    }
  });
</script>
