<div><%= event.title %></div>
<div><%= event.description %></div>
<div><%= event.event_on %></div>
<div><%= event.group.name %></div>
<ul>
<% event.restaurants.each do |restaurant| %>
	<li><a href="<%= restaurant.url %>" ><%= restaurant.name %></a></li>
<% end %>
</ul>