<div class="medium-wrapper center" >
	<h3>Event Name : <%= event.title %></h3
	<ul class='list-group'>
		<li class='list-group-item'><%= event.event_on.strftime("%A %B %d, %Y") %></li>
		<li class='list-group-item'>Group: <%= event.group.name %></li>

		<% if vote %>
			<li class='list-group-item'>Votes: <%= event.votes.count - event.restaurants.uniq.count %></li>
		<% end %>
	</ul>
	<ul>
		<% event.restaurants.uniq.each do |restaurant| %>
			<a href="<%= restaurant.url %>" target="_blank"><h4><%= restaurant.name %></h4></a>
			<% unless vote || !event.group.members.include?(logged_user) %>
				<form action="/event/<%= event.id %>/restaurant/<%= restaurant.id %>/vote" method="post" class="form-inline">
				<div class="form-group">
					<input type="submit" value="vote" class="form-control"/>
				</div>
				</form>
			<% end %>
		<% end %>
	</ul>
</div>

